---
import CoachingCard from "./ServiceCard.astro";
---

<section class="section">
  <!-- background image -->
  <main class="main">
    <!-- content -->
    <div class="content">
      <h1 class="secondary">
        Our
        <span class="elevate"> Services</span>
      </h1>
    </div>
    <svg
      width="904"
      height="3"
      viewBox="0 0 904 3"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <line y1="1.5" x2="904" y2="1.5" stroke="#123346" stroke-width="3"></line>
    </svg>

    <div class="cards">
      <CoachingCard
        title="Coaching & Mentoring"
        subtitle="GROW, EXCEL"
        description="Enhance your presales team's skills and performance with tailored coaching, group sessions, and leadership mentoring."
        buttonText="Learn More"
        buttonLink="/services"
        imageSrc="/src/assets/cardImage.jpg"
        altText="Team working together"
      />

      <CoachingCard
        title="Advisory Services"
        subtitle="PLAN, THEN DO"
        description="Transform your presales strategy with expert guidance to improve customer engagement and drive business growth."
        buttonText="Learn More"
        buttonLink="/services#Advisory"
        imageSrc="/src/assets/cardImage1.png"
        altText="Team working together"
      />

      <CoachingCard
        title="Fractional Leader"
        subtitle="LEAD WITH IMPACT"
        description="Gain strategic, hands-on presales leadership to optimize operations and accelerate results without a full-time hire."
        buttonText="Learn More"
        buttonLink="/services#Leader"
        imageSrc="/src/assets/cardImage2.png"
        altText="Team working together"
      />
    </div>
  </main>
</section>

<style>
  .section {
    width: 100%;
    display: flex;
    padding: 4rem 0rem;
  }

  svg {
    max-width: 90vw;
  }
  .main {
    max-width: 1440px;
    margin: auto;
    width: 100%;
    height: full;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main h1 {
    line-height: 50px;
  }

  .main .elevate {
    color: var(--accent-secondray);
    font-size: 56px;
    font-weight: 700;
  }

  .main .secondary {
    color: black;
    font-size: 56px;
    font-weight: 700;
  }

  .main p {
    color: white;
    font-size: 18px;
    font-weight: 400;
    width: 45%;
    line-height: 20px;
  }

  .main .success {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .main .btn {
    background-color: var(--accent);
    padding: 15px 25px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: ease-in-out 0.3s;
  }

  .main .btn:hover {
    background-color: var(--accent);
    transform: scale(1.01);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  }

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
  }

  @media (max-width: 720px) {
    .section {
      min-height: auto;
      position: static !important;
      flex-direction: column;
    }

    .main{
      max-width: 90%;
    }
    .main .para {
      width: 100%;
    }

    .main .content h1 {
      font-size: 32px !important;
    }

    .main .content h1 span {
      font-size: 32px !important;
    }

    .main h1 {
      line-height: 30px;
    }

    .main .success {
      gap: 10px;
      font-size: 14px;
    }

    .main p {
      font-size: 14px !important;
      line-height: 20px;
    }

    .main .btn {
      padding: 10px 20px;
      font-size: 16px;
    }

    .hero-container img {
      position: static !important;
    }

    .cards {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
      margin-top: 20px;
    }
  }
</style>
